*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}

body{
    height: 100vh;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    background-repeat: no-repeat;
    overflow-y: scroll;
}
a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: large;
    transition: transform 0.3s ease;
    padding: 5px;
    border-radius: 4px;
}
#navigation a:hover{
    transform: scale(1.1);
    box-shadow: 0px 1px 8px #333;
    border: 0;
}

nav {
    padding: 5px 20px; /* Add padding to separate nav content from the edges */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*  TITLE */
#title{
    display: flex;
    align-items: center;
}
#title img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    
}

#title h3{
    color: #fff;
    font-size:xx-large;
    cursor: pointer;
}

/* Navigation */
#navigation{
    width: 30%;
    display: flex;
    justify-content: space-around;
    color:black;
}

#username{
    display: none;
}

.btn{
    cursor: pointer;
    color: #fff;
    font-weight: 600;
}

